::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.114);
  height: 100px;
}

nav {
  top: 37px;
  left: 271px;
  width: 66vw;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  position: absolute;
}

a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
  color: rgb(0, 0, 0);
}

a::after {
  background-color: rgb(129, 161, 255);
  height: 3px;
  width: 0;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.6s ease;
}

a:hover::after {
  width: 100%;
}

a:hover {
  color: rgb(135, 0, 0);
}

.logo img {
  width: 200px;
  position: absolute;
  margin-left: 17px;
  margin-top: -17px;
}

.block1 #frontimg {
  width: 100%;
  margin-top: -15px;
}

.t1 h1 {
  position: absolute;
  margin-top: -55%;
  color: white;
  font-size: 88px;
  margin-left: 58%;
  font-family: "Arapey", serif;
  font-weight: 500;
  word-spacing: 20px;
}

.t1 h3 {
  position: absolute;
  margin-top: -44%;
  color: white;
  font-size: 38px;
  margin-left: 59%;
  font-family: "Arapey", serif;
  font-weight: 500;
  word-spacing: 4px;
}

.block2 h2 {
  text-align: center;
  color: blue;
  font-size: 40px;
  word-spacing: 20px;
  font-weight: 400;
}

.imgblocks img {
  width: 30%;
  border-radius: 32%;
  padding-inline: 1%;
  margin-top: 19px;
}

.imgblocks {
  background: linear-gradient(#685353 0%, #ffd6dc 100%);
  height: 599px;
}

.block3 {
  position: absolute;
  padding: 32%;
}
.card {
  height: 500px;
  width: 500px;
  position: relative;
  overflow: hidden;
}
.card:hover .card-body {
  left: 0;
}

.card-img {
  height: 100%;
  width: 100%;
}
.block3 h2 {
  font-size: 50px;
  align-items: center;
}
.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  position: absolute;
  background: #66474738;
  backdrop-filter: blur(5px);
  color: white;
  padding: -90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
}

.card-title {
  text-transform: uppercase;
  font-size: 50px;
  color: black;
  font-family: "Arapey", serif;
  font-weight: 400;
  margin-left: 125px;
}

.card-title h1{
  color: black;
}

.card-sub-title {
  font-size: 25px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.card-info {
  font-size: 20px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
}

.card-btn {
  color: blue;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  width: 120px;
  text-align: center;
  margin-left: 180px;
}

.m img {
  height: 500px;
}

 
  